asgiref==3.11.1
channels==4.3.2
channels_redis==4.3.0
Django==6.0.3
django-cors-headers==4.9.0
djangorestframework==3.16.1
gunicorn==25.3.0
msgpack==1.1.2
packaging==26.0
pillow==12.1.1
redis==7.3.0
sqlparse==0.5.5
tzdata==2025.3
